<!DOCTYPE html>
<html lang="en">



{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}



{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'simulation/index.css' %}">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj492</title>

    <div class="row nav" style="width:1757px;display:flex;padding:10px">
        <div class='col-1'>
            <h2>Simulation</h2>
        </div>
        <div class='col-4' id="utility">
            <button type="button" class="btn btn-primary" id="addShip">Add Ship</button>
            <button type="button" class="btn btn-primary" id="pause">Pause</button>
            <button type="button" class="btn btn-primary" id="start">Start</button>
            <button type="button" class="btn btn-primary" id="reset">Reset</button>
            <button type="button" class="btn btn-primary" id="collusion">Collusion Test</button>
            <button type="button" class="btn btn-primary" id="speed" onclick="changeSpeed()">speed</button>
        </div>
        <div class='col-4' style="display: flex;">
            <h3 id="coord1" style="margin-right: 40px;">0.0</h3>
            <h3 id="coord2">0.0</h3>
            <input type="text" id="shipName">

        </div>
    </div>

    <div class="container mainBody">
        <div class="row map1" id='map' style="width:1757px;height:600px;">
        </div>
        <div class="row" style="display:flex;justify-content: center; width:1757px;height:209px; ">
            <div class="col display" id="shipDisplay">
                <h2>Display1</h2>
            </div>
            <div class="col display">
                <h2>Display2</h2>
            </div>
            <div class="col display">
                <h2>Display3</h2>
            </div>

        </div>



    </div>

</head>

<body>

</body>

</html>




<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    mapboxgl.accessToken =
        'pk.eyJ1Ijoib25kZXJwZWhsaXZhbiIsImEiOiJja3dmY3M4bzUwZGhjMndydXg5MjNtbDczIn0.IUrPfId24D71j_cwM_9PdQ';


    const map = new mapboxgl.Map({

        container: 'map', // container ID
        style: 'mapbox://styles/onderpehlivan/ckwp96xek2h2214t5xfyjxcce', // style URL
        center: [-94.88, 29.62], // starting position [lng, lat]
        zoom: 9, // starting zoom
        fadeDuration: 3000
    })


    const normalSpeed = 0.3
    const stopSpeed = 0
    let stopFactor = 1
    let speed = normalSpeed
    let pathList = []
    let speedList = new Array();
    let shipList = new Array()
    let shipClassList = new Array()
    let shipCounter = -1

    function changeSpeed() {
        console.log(shipClassList)
        shipClassList[0].changeSpeed(50)
        shipClassList[1].changeSpeed(20)


    }

    var coordinateCounter = 1
    map.on('click', function (e) {
        console.log(e.lngLat)
        if (coordinateCounter % 2 == 1) {
            const text1 = `${e.lngLat["lat"]},${e.lngLat["lng"]},`
            $("#coord1").text(text1)
        }
        else {
            const text2 = `${e.lngLat["lat"]},${e.lngLat["lng"]},`
            $("#coord2").text(text2)
        }
        coordinateCounter += 1
    });


    // let specialSpeed = 0.0

    // function changeSpeed(){
    //     specialSpeed = 1
    // }


    map.on('load', () => {
        // // Add an image to use as a custom marker
        map.addSource('topLeft', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-94.98276875969165, 29.60664638126832]
                        },
                        'properties': {
                            'title': '*'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'topLeft',
            'type': 'symbol',
            'source': 'topLeft',
            'layout': {
                'icon-image': 'custom-marker',
                // get the title name from the source's "title" property
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });


        map.addSource('topRight', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-94.70797854725448, 29.601567347418523]
                        },
                        'properties': {
                            'title': '*'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'topRight',
            'type': 'symbol',
            'source': 'topRight',
            'layout': {
                'icon-image': 'custom-marker',
                // get the title name from the source's "title" property
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });


        map.addSource('bottomLeft', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-95.03756305694266, 29.379566938728473]
                        },
                        'properties': {
                            'title': '*'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'bottomLeft',
            'type': 'symbol',
            'source': 'bottomLeft',
            'layout': {
                'icon-image': 'custom-marker',
                // get the title name from the source's "title" property
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });



        map.addSource('bottomRight', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-94.70797854725448, 29.601567347418523]
                        },
                        'properties': {
                            'title': '*'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'bottomRight',
            'type': 'symbol',
            'source': 'bottomRight',
            'layout': {
                'icon-image': 'custom-marker',
                // get the title name from the source's "title" property
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });


        map.addSource('ship1', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-95.03749367982192, 29.397919986593962]
                        },
                        'properties': {
                            'title': '--'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'ship1',
            'type': 'symbol',
            'source': 'ship1',
            'layout': {
                'icon-image': 'custom-marker',
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });

        map.addSource('ship2', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        // feature for Mapbox SF
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-95.03749367982192, 29.397919986593962]
                        },
                        'properties': {
                            'title': '--'
                        }
                    }
                ]
            }
        });

        map.addLayer({
            'id': 'ship2',
            'type': 'symbol',
            'source': 'ship2',
            'layout': {
                'icon-image': 'custom-marker',
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 0],
                'text-anchor': 'top'
            }
        });







        // let latitute = map.getSource('points')._options.data["features"][0]["geometry"]["coordinates"][1]
        // let longitude = map.getSource('points')._options.data["features"][0]["geometry"]["coordinates"][0]



        map.loadImage("{% static 'images/shipl.png' %}", (error, image) => {
            if (error) throw error;
            map.addImage('shipl', image);

        });

        map.loadImage("{% static 'images/shipr.png' %}", (error, image) => {
            if (error) throw error;

            map.addImage('shipr', image);

        });

        let counter3 = 0;
        function pixelToCoord() {

        }

        $("#pause").click(function () {


            stopFactor = 0
        })

        $("#start").click(function () {
            stopFactor = 1
        })

        $("#reset").click(function () {
            counter3 = 0
            stopFactor = 0
        })



        $("#addShip").click(function () {
       
            let start = $("#coord1").text()
            start = start.substring(0, start.length - 1)


            let destination = $("#coord2").text()
            destination = destination.substring(0, destination.length - 1)

            const shipName = $("#shipName").val()

            $.post("./createpath", { start: start, destination: destination }, function (data) {
                const json = JSON.parse(data)
                const path = json.path

                const ship = {
                    "name": shipName,
                    "pixelPath": json.pixelPath,
                    "path": path
                }

                shipList.push(ship)






                var route3 = {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "LineString",
                            "coordinates": path
                        }
                    }]
                }

                var point3 = {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": path[0]
                        },
                        "properties": {
                            "title": "shipName"
                        }
                    }]
                }

                function getRandomColor() {
                    var letters = '0123456789ABCDEF';
                    var color = '#';
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }

                const color = getRandomColor()


                $("#shipDisplay").append(`<h2 style='color:${color}'>${shipName}</h2>`);

                map.addSource(shipName + "route", {
                    "type": "geojson",
                    "data": route3
                });

                map.addSource(shipName + "point", {
                    "type": "geojson",
                    "data": point3
                });

                map.addLayer({
                    "id": shipName + "route",
                    "source": shipName + "route",
                    "type": "line",
                    "paint": {
                        "line-width": 2,
                        "line-color": color,
                        "line-dasharray": [2, 1]
                    }
                });

                map.addLayer({
                    "id": shipName + "point",
                    "source": shipName + "point",
                    "type": "symbol",
                    "layout": {
                        "icon-image": "shipr",
                        "icon-rotate": -360,
                        'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top',
                        'icon-allow-overlap': true,
                        'icon-ignore-placement': true,
                        "icon-optional": true,
                        "text-allow-overlap": true
                    },
                });


                class Ship {
                    constructor(name,speed) {
                        this.speed = 5
                        this.name = name
                    }

                    changeSpeed(speed) {
                        this.speed = speed
                        console.log(this.name + " new speed = " + this.speed)
                        
                    }
                }
                const p = new Ship(shipName)
                let specialSpeed = 10

                let tempSpeed = {
                    "speed": 3
                }
                speedList.push(tempSpeed)
                shipClassList.push(p)
                console.log(shipClassList[shipCounter])
                
                function animate3(speed1) {
                    console.log(p.speed)
                    

                    counter3 = (counter3 + speed + p.speed) * stopFactor 



                    var updatedPoint = turf.along(route3.features[0], counter3 / 100 , 'kilometers');
                    point3.features = [updatedPoint];



                    map.getSource(shipName + "point").setData(point3);

                    
                    requestAnimationFrame(animate3.bind(null, speed1));

                }
              
                const speed1 = 5
                console.log(p.speed)
                console.log("-----------")
                animate3(p.speed)
                


            });

        });

        shipCounter += 1
    });
</script>


<script>
    $(function () {




    });
</script>
<script type='text/javascript' src="{% static 'images/deneme.js' %}"></script>